* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1.2fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        ". logo menu"
        "text person social-media"
        "text person social-media"
        ". footer .";
    background: linear-gradient(90deg, #0D2235 50%,
            #ffc100 50%);
    width: 100vw;
    height: 100vh;
    place-items: center;
}

.logo {
    grid-area: logo;
    /* border: 1px solid red; */
    margin-top: 15px;
    font-size: 2em;
    width: 32vw;
    display: flex;
    justify-content: space-evenly;
    padding-inline-end: 15px;
}

.title {
    font-family: Milkshake;
    font-weight: normal;
    font-size: 2.5em;
    color: #ffc100;
}

.orta {
    color: #0d2235;
}

.menu {
    grid-area: menu;
    color: #0D2235;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

.text {
    grid-area: text;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-left: 60px;
}

.person {
    grid-area: person;
    padding-top: 40px;
}

.social-media {
    grid-area: social-media;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background: #ffc100;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94, 104, 121, 0.288);
    text-align: center;
}

li a {
    line-height: 50px;
    font-size: 20px;
    color: #2c2d31;
}

.first li.shadow-1 {
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.first li.shadow-1 a {
    font-size: 25px;
}

li:nth-child(1).fill-color a {
    color: #4267B2;
}

li:nth-child(2).fill-color a {
    color: #1DA1F2;
}

li:nth-child(3).fill-color a {
    color: #E1306C;
}

li:nth-child(4).fill-color a {
    color: #2867B2;
}

li:nth-child(5).fill-color a {
    color: #333;
}

.footer {
    grid-area: footer;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.footer span {
    color: #0d2235;
}


@media (max-width: 414px) {

    .grid-container {
        display: block;
        height: 100%;
    }

    .logo {
        font-size: 1.1em;
        width: 60vw;
        margin: 0 auto;
    }

    .menu {
        position: absolute;
        top: -30px;
        left: 350px;
        font-size: 2em;
    }

    .text{
        font-size: 1em;
        width: 70vw;
        margin-block-end: 0;
    }

    .person{
        margin: 0 105px;
        padding-top: 15px;
    }
    .person img {
        width: 200px;
    }

    .social-media{
        margin-top: 5px;

    }

    li:nth-child(1),  li:nth-child(2){
        border-radius: 100px;
        background: #0D2235;
        box-shadow: 7px 7px 14px #07131d,
            -7px -7px 14px #13314d;
    }

    .fb a, .twitter a{
        color: #fff; 
    }

    .footer {
        text-align: center;
        padding-block-end: 15px;
    }
}