* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1.2fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        ". logo menu"
        "text person social-media"
        "text person social-media"
        ". footer .";
    background: linear-gradient(90deg, #0D2235 50%,
            #ffc100 50%);
    width: 100vw;
    height: 100vh;
}

.logo {
    grid-area: logo;
    /* border: 1px solid red; */
    margin-top: 15px;
    font-size: 2em;
    width: 32vw;
    display: flex;
    justify-content: space-evenly;
    padding-inline-end: 15px;
}

.title {
    font-family: Milkshake;
    font-weight: normal;
    font-size: 2.5em;
    color: #ffc100;
}

.orta {
    color: #0d2235;
}

.menu {
    grid-area: menu;
}

.text {
    grid-area: text;
}

.person {
    grid-area: person;
}

.social-media {
    grid-area: social-media;
}

.footer {
    grid-area: footer;
}


@media (min-width: 1024px) {
    .logo {
        font-size: 2em;
        width: 32vw;
    }
}