* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: cornflowerblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    margin: 100px auto;
    color: #fff;
    height: 600px;
    flex: 1;
}

